/*

!/.gitconfig
!/.gitignore
!/.gitmodules
!/.zshrc
!/.p10k.zsh
!/.fzf.zsh
!/.oh-my-zsh
!/.vimrc
!/.screenrc
!/.fonts/
!/.oh-my-zsh/
!/.oh-my-zsh_plugin_zsh-vi-mode/
!/.oh-my-zsh_theme_powerlevel10k/
