/*
!/.gitconfig
!/.gitignore
!/.gitmodules
!/.zshrc
!/.fzf.zsh
!/.pet.zsh
!/.oh-my-zsh
!/.vimrc
!/.screenrc
!/.config/
/.config/*
!/.config/pet/
!/.fonts/
/.fonts/.uuid
/.fonts/encodings.dir
/.fonts/fonts.dir
/.fonts/fonts.list
/.fonts/fonts.scale
!/.ssh/
/.ssh/*
!/.ssh/id_rsa.pub
!/.ssh/id_ecdsa.pub
!/.ssh/id_ed25519.pub
!/.ssh/authorized_keys
